<!DOCTYPE html>

<html>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='initial-scale=1, width=device-width'>
		<title>Salsa Song Recs</title>
	</head>

	<body>
		<h1>Salsa Music Recommendation</h1>
		<h5>Find tempo-specific salsa songs, perfect for teaching and practicing as fast (or slow!) as you want</h5>
		<br>
		
		{% block main %}{% endblock %}

		<form name='search-form'>
			<input name='title-input' type='text' autofocus autocomplete='off' placeholder='Song title'>
			<button type='submit'>
		</form>
	</body>

</html>

