<ul class="pagination">

	<li id='pg-back' class="page-item {% if page == pagei %}disabled{% endif %}">
		<a class="page-link" href="/recs/{{page - 1}}" aria-label="Previous">
			<span aria-hidden="true">«</span>
		</a>
	</li>
		
	{% for i in range(pagei,pagef+1) %}
	<li class='page-item {% if i == page %}active{% endif %}'>  <a class='page-link' href='/recs/{{i}}'> {{i}} </a></li>
	{% endfor %}
	
	<li id='pg-forward' class="page-item {% if page == pagef %}disabled{% endif %}">
		<a class="page-link" href="/recs/{{page + 1}}" aria-label="Next">
		<span aria-hidden="true">»</span>
		</a>
	</li>
</ul>

