{% extends "home.html" %}
	{% block results %}
	
	<br><br>
	<div class='container'>	
		<form action='/recs' method='post' name='results-form'>
			<table name="results-list" class="table table-success table-striped table-hover" style='width: 50%;'>
				<caption style='caption-side: top; color: #198754' class='h5'>Recommendations</caption>
				<thead>
					<th>Title</th>
					<th>Artist</th>
					<th>Tempo</th>
				</thead>
			{% for song in songs %}
			
				<tr>
					<td>{{song['name']}}</td>	
					<td>{{song['artist']}}</td>	
					<td>{{song['tempo']}}</td>
				</tr>

			{% endfor %}

			</table>
		</form>
	</div>
{% endblock %}
